*/runs/**/*
*/images/**/*
*/data/**/*
*/weights/**/*
*/test/**/*
*/tests/**/*
*/archive/**/*

!*/runs/**/.gitkeep
!*/images/**/.gitkeep
!*/data/**/.gitkeep
!*/weights/**/.gitkeep

**/__pycache__/
*.pyc
*.pyo
*.pyd
*.bak
*.tmp

../.vscode
../.vscode/settings.json